.header{
    background-color: #25282e;    
    padding:15px
}
.header-title{
    color:#6a6f85;
    margin-left: 10px;
    cursor: pointer;
}
.header-home{
    color:#6a6f85;
    margin-left: 50px;
    cursor: pointer;
}
.banner{
    width:100%;
    height: 300px;
    /*background-color: #a1a3ad;*/
    background: rgb(106,111,133);
    background: linear-gradient(243deg, rgba(106,111,133,1) 0%, rgba(164,164,209,1) 35%, rgba(106,111,133,1) 100%);
}
.overview-banner{
    width:100%;
    height: 170px;
    /*background-color: #6a6f85;*/
    background: rgb(106,111,133);
    background: linear-gradient(243deg, rgba(106,111,133,1) 0%, rgba(164,164,209,1) 35%, rgba(106,111,133,1) 100%);
}
.duplicate-txt{
    display: flex;
    align-items: center;
    padding-right: 10px;
}
.search-btn{
    width: 100px;
    height: 40px;
    background-color: #1c42ff;
    color:#f3f3f3;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 5px 5px 0px;
}
.search-text{
    width: 500px;
    height: 36px;
    border: 1px solid #d3d3d3;
    border-radius: 5px 0px 0px 5px;
}
.banner-txt{
    display: flex;
    justify-content: center;
    width:100%;
    font-size: 40px;
    padding-top: 10px;
}

.overview-txt{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    width:100%;
    font-size: 20px;
}
.triangle{
    cursor:pointer;
    width:27px;
    font-size: 35px;
}
.emp-tree{
    padding-left: 450px;
    padding-top: 20px;
    min-height: 400px;
}
.emp-name{    
    background-color: #1c42ff;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    width: 300px;
}
.emp-name.employee{
    background-color: #1e7e34;
}
.css-df17o1{
    opacity:.5 !important;
}
.no-subordinates{
    padding-left: 80px;
    font-weight: bold;
    color: red;
}